<h3 class="text-center">Simple Angular App</h3>
<mat-card>
    <form (submit)="onAddPost(posts)" #posts="ngForm">
        <mat-form-field>
            <input type="text" matInput placeholder="Title" name="title" ngModel required minlength="3" maxlength="10" #title="ngModel">
            <mat-error *ngIf="title.invalid">{{getErrorMessage(title)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="6" placeholder="Body" name="body" ngModel required minlength="2" maxlength="100" #body="ngModel"></textarea>
            <mat-error *ngIf="body.invalid">{{getErrorMessage(body)}}</mat-error>
        </mat-form-field>
        <button mat-raised-button class="btn btn-info" type="submit">Save Post</button>
    </form>
</mat-card>